<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.wipon.nativecode" version="0.1">
    <name>Native Code Wipon</name>
    <description>Cordova Plugin for access to native functions</description>
    <license>Wipon</license>
    <keywords>cordova</keywords>
    <js-module src="www/android/native_code.js" name="NativeCode">
        <clobbers target="cordova.plugins.nativeCode"/>
    </js-module>

    <platform name="android">

        <source-file src="src/android/PermissionHelper.java" target-dir="src/com/wipon/nativeCode"/>
        <source-file src="src/android/NativeCode.java" target-dir="src/com/wipon/nativeCode"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeCode">
                <param name="android-package" value="com.wipon.nativeCode.NativeCode"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <resource-file src="src/android/res/drawable-hdpi/icon_notification.png" target="res/drawable-hdpi/icon_notification.png" />
        <resource-file src="src/android/res/drawable-hdpi-v11/icon_notification.png" target="res/drawable-hdpi-v11/icon_notification.png" />
        <resource-file src="src/android/res/drawable-mdpi/icon_notification.png" target="res/drawable-mdpi/icon_notification.png" />
        <resource-file src="src/android/res/drawable-mdpi-v11/icon_notification.png" target="res/drawable-mdpi-v11/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xhdpi/icon_notification.png" target="res/drawable-xhdpi/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xhdpi-v11/icon_notification.png" target="res/drawable-xhdpi-v11/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/icon_notification.png" target="res/drawable-xxhdpi/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xxhdpi-v11/icon_notification.png" target="res/drawable-xxhdpi-v11/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/icon_notification.png" target="res/drawable-xxxhdpi/icon_notification.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi-v11/icon_notification.png" target="res/drawable-xxxhdpi-v11/icon_notification.png" />

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeCode">
                <param name="ios-package" value="NativeCode"/>
            </feature>
        </config-file>
        <header-file src="src/ios/NativeCode.h"/>
        <source-file src="src/ios/NativeCode.m"/>
    </platform>

</plugin>
